<div>
    <div class="form-group">
        <label class="col-md-3 text-right">Type:</label>
        <div class="col-md-9">
            <select ng-model="tenant.type" ng-change="$ctrl.changeTenantType()" class="form-control">
                <option ng-repeat="type in tenant.tenantTypes" value="{{type.value}}">{{type.text}}</option>
            </select>
        </div>
    </div>
    @if (ViewBag.Type == "ttin")
    {
        <div class="form-group">
            <label for="name" class="col-md-3 text-right">Full Name:</label>
            <div class="col-md-9">
                <input type="text" id="name" name="name" ng-model="tenant.name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="col-md-3 text-right">Gender:</label>
            <div class="col-md-9">
                <select ng-model="tenant.gender" class="form-control">
                    <option ng-repeat="gender in tenant.individual.genders" value="{{gender.value}}">{{gender.text}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="qatarId" class="col-md-3 text-right">Qatar Id</label>
            <div class="col-md-9">
                <input type="text" id="qatarId" name="qatarId"
                       ng-model="tenant.individual.qatarId"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="birthday" class="col-md-3 text-right">Birthday</label>
            <div class="col-md-9">
                <input type="date"
                       ng-model="tenant.individual.birthday"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="company" class="col-md-3 text-right">Company:</label>
            <div class="col-md-9">
                <input type="text" name="company" , id="company"
                       ng-model="tenant.inidividual.company"
                       class="form-control" />
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label for="businessName" class="col-md-3">Business Name:</label>
            <div class="col-md-9">
                <input type="text" name="businessName" id="businessName"
                       ng-model="tenant.name"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="businessType" class="col-md-3 text-right">Business Type:</label>
            <div class="col-md-9">
                <input type="text" name="businessType" id="businessType" class="form-control"
                       ng-model="tenant.company.businessType"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-right">CR No</label>
            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="tenant.company.crNo"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-right">Validity Date:</label>
            <div class="col-md-9">
                <input type="date" ng-model="tenant.company.validityDate" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 text-right">Representative:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="tenant.company.representative"/>
            </div>
        </div>
    }

    <div class="page-header">
        <strong>Contact Details</strong>
    </div>
    <div class="form-group">
        <label class="col-md-3 text-right">Email Address:</label>
        <div class="col-md-9">
            <input type="email" class="form-control" ng-model="tenant.emailAddress"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 text-right">Tel No:</label>
        <div class="col-md-9">
            <input type="tel" ng-model="tenant.telNo" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 text-right">Mobile No:</label>
        <div class="col-md-9">
            <input type="tel" class="form-control" ng-model="tenant.mobileNo"/>
        </div>
    </div>
    <div class="page-header">
        <strong>Company Address</strong>
    </div>

    <div class="form-group">
        <label class="col-md-3 text-right">Address 1:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="tenant.address1"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 text-right">Address 2:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="tenant.address2" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 text-right">City</label>
        <div class="col-md-9">
            <input type="text" ng-model="tenant.city" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 text-right">Postal Code</label>
        <div class="col-md-9">
            <input type="text" ng-model="tenant.postalCode" class="form-control"/>
        </div>
    </div>

</div>
