@{
    ViewBag.Title = "Register";
}
<h2>Register</h2>
<div>
    <form ng-controller="tenantRegisterController as $ctrl" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Register</strong>
            </div>
            <div class="panel-body">
                <div ng-hide="step.current > 1">
                    <div class="form-group">
                        <label class="col-sm-2 text-right">Type:</label>
                        <div class="col-sm-4">
                            <!-- selection -->
                            <select class="form-control" ng-model="tenant.type" ng-change="tenantTypeOnChange()">
                                <option ng-repeat="type in tenant.tenantTypes" value="{{type.value}}" ng-selected="type.selected">{{type.text}}</option>
                            </select>
                        </div>
                    </div>
                    <tenant-form></tenant-form>
                </div>
                <villa ng-show="step.current == 2"></villa>
                <div class="pull-right">
                    <button class="btn btn-default" ng-hide="step.current <= 1" ng-click="step.stepDown()">Previous</button>
                    <button class="btn btn-default" ng-click="step.stepUp()">Next</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/service/villaService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/service/tenantService.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/tenantRegisterController.js")"></script>
}