
<div ng-controller="billingController as $ctrl" ng-init="$ctrl.init('@ViewBag.Id')">
    <spinner></spinner>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Billing</h4>
        </div>
        <div class="panel-body">
            <!--- General Information -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Tenant Information</div>
                        <div class="panel-body">
                            <div class="col-md-9">
                                <div class="body-content">
                                    <div class="row">
                                        <div class="col-md-2">Name:</div>
                                        <div class="col-md-10">{{sales.register.name}}</div>
                                    </div>
                                    <div class="row" ng-show="sales.register.individual.qatarId">
                                        <div class="col-md-2">Qatar Id:</div>
                                        <div class="col-md-10">{{sales.register.individual.qatarId}}</div>
                                    </div>
                                    <div class="row" ng-show="sales.register.company.crNo">
                                        <div class="col-md-2">CR No:</div>
                                        <div class="col-md-4">{{sales.register.company.crNo}}</div>
                                        <div class="col-md-2">Validity Date:</div>
                                        <div class="col-md-4">{{sales.register.company.validityDate | date : 'MM/dd/yyyy'}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">Address:</div>
                                        <div class="col-md-10">{{sales.register.fullAddress}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- status component -->
                            <div class="panel panel-danger col-md-3">
                                <div class="panel-body">
                                    <strong class="text-success text-center">Status: {{sales.status}}</strong>
                                </div>
                            </div>
                            <!--end component-->

                            <table class="table">
                                <tr>
                                    <th>Villa No</th>
                                    <th>Rental Type</th>
                                    <th>Period Start</th>
                                    <th>Period End</th>
                                    <th>Amount</th>
                                    <th>Monthly Payable</th>
                                    <th>Status</th>
                                </tr>
                                <tr>
                                    <td>{{sales.villa.villaNo}}</td>
                                    <td>{{sales.rentalType}}</td>
                                    <td>{{sales.periodStart | date: "MM/dd/yyyy"}}</td>
                                    <td>{{sales.periodEnd | date: "MM/dd/yyyy"}}</td>
                                    <td>{{sales.amountPayable | currency :"QR "}}</td>
                                    <td>{{sales.villa.ratePerMonth | currency :"QR "}}</td>
                                    <td>{{sales.villa.status}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end general-->
            <!-- payment details component -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Payment Details</div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed">
                                    <tr class="active">
                                        <th>Date</th>
                                        <th>Cheque No</th>
                                        <th>Covered Period</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Status Date</th>
                                        <th></th>
                                    </tr>
                                    <tbody>
                                        <tr ng-repeat="payment in sales.payments">
                                            <td>{{payment.paymentDate | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{payment.chequeNo}}</td>
                                            <td>{{payment.coveredPeriod}}</td>
                                            <td>{{payment.amount | currency:"QR "}}</td>
                                            <td>{{payment.status}}</td>
                                            <td>{{payment.statusDate | date: 'MM/dd/yyyy'}}</td>
                                            <td style="width:5%; text-align:center"><button class="btn btn-sm btn-danger" style="border-radius: 50%"><i class="fa fa-close"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr />
                            <div class="panel panel-danger col-md-3 pull-right">
                                <div class="panel-body">
                                    <p class="text-danger text-left"><i class="fa fa-money"></i> Payment: {{sales.totalPayment | currency : "QR "}}</p>
                                    <p class="text-danger text-left"><i class="fa fa-money"></i> Balance: {{sales.totalBalance | currency : "QR "}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary pull-right" ng-click="$ctrl.openPaymentDialog()"><i class="fa fa-credit-card"></i> Add Payment</button>
                            <div style="clear:both"></div>
                            <!-- template -->
                            <script type="text/ng-template" id="myModalContent.html">
                                <form id="paymentForm" class="form-horizontal">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="modal-title">Payment</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="col-md-2 text-right">Type:</label>
                                            <div class="col-md-4">
                                                <select class="form-control" placheholder="Term" ng-model="$ctrl.payment.term" ng-change="$ctrl.changeBehaviourWhenSelectingTerm()">
                                                    <option ng-repeat="term in $ctrl.payment.terms" value="{{term.value}}">{{term.text}}</option>
                                                </select>
                                            </div>
                                            <div ng-hide="$ctrl.payment.chequeFieldDisabled">
                                                <label class="col-md-2 text-right">Mode:</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" ng-model="$ctrl.payment.paymentMode">
                                                        <option ng-repeat="mode in $ctrl.payment.modes" value="{{mode.value}}">{{mode.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 text-right">Date:</label>
                                            
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{$ctrl.payment.paymentDateObject.format}}"
                                                           ng-model="$ctrl.payment.paymentDate"
                                                           is-open="$ctrl.payment.paymentDateObject.isOpen"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true"
                                                           close-text="Close"
                                                           alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="$ctrl.payment.paymentDateObject.toggle()"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <span ng-show="errorState['vm.paymentdate']">{{errorState['vm.paymentdate']}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 text-right">Cheque No:</label>
                                            <div class="col-md-10">
                                                <input type="text" ng-disabled="$ctrl.payment.chequeFieldDisabled" name="chequeNo" id="chequeNo" class="form-control" ng-model="$ctrl.payment.chequeNo" />
                                                <span ng-show="errorState['vm.chequeno']">{{errorState['vm.chequeno']}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-hide="$ctrl.payment.chequeFieldDisabled">
                                            <label class="col-md-2 text-right">Bank:</label>
                                            <div class="col-md-10">
                                                <select ng-model="$ctrl.payment.bank" class="form-control">
                                                    <option value="">--Select Bank--</option>
                                                    <option ng-repeat="bank in $ctrl.payment.banks" value="{{bank.value}}">{{bank.text}}</option>
                                                </select>
                                                <span ng-show="errorState['vm.bank']">{{errorState['vm.bank']}}</span>
                                            </div>
                                        </div>
                                        <div class="page-header">
                                            <strong>Covered Period</strong>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 text-right">Start:</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{$ctrl.payment.coveredPeriodFromObject.format}}"
                                                          ng-model="$ctrl.payment.coveredPeriodFrom"
                                                           is-open="$ctrl.payment.coveredPeriodFromObject.isOpen"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true"
                                                           close-text="Close"
                                                           alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="$ctrl.payment.coveredPeriodFromObject.toggle()"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <span ng-show="errorState['vm.coveredperiodfrom']">{{errorState['vm.coveredperiodfrom']}}</span>
                                                <span ng-show="errorState['perioderror']">{{errorState['perioderror']}}</span>
                                            </div>
                                            <label class="col-md-2 text-right">End:</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{$ctrl.payment.coveredPeriodToObject.format}}"
                                                           ng-model="$ctrl.payment.coveredPeriodTo"
                                                           is-open="$ctrl.payment.coveredPeriodToObject.isOpen"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true"
                                                           close-text="Close"
                                                           alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="$ctrl.payment.coveredPeriodToObject.toggle()"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <span ng-show="errorState['vm.coveredperiodto']">{{errorState['vm.coveredperiodto']}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 text-right">Amount:</label>
                                            <div class="col-md-10">
                                                <input type="text" name="amount" id="amount" class="form-control text-right" placeholder="Amount" ng-model="$ctrl.payment.amount" />
                                                <span ng-show="errorState['vm.amount']">{{errorState['vm.amount']}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" ng-click="$ctrl.save()"><i class="fa fa-save"></i> Save</button>
                                        <button class="btn btn-danger" ng-click="$ctrl.cancel()"><i class="fa fa-undo"></i> Cancel</button>
                                    </div>
                                </form>

                            </script>
                            <!-- end -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
        </div>
    </div>
</div>





<!-- payment details component -->
@section scripts {
    <script src="@Url.Content("~/Scripts/app/data/payment-manager.data.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/billingController.js")"></script>
}



