@{
    ViewBag.Title = "Billing";
}
<div ng-controller="billingController as $ctrl" ng-init="model.action.init('@ViewBag.Id')">
    <spinner></spinner>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h4>@ViewBag.Title - {{model.data.billCode}}</h4>
            </div>
        </div>

        <div class="col-md-2 pull-right">
            <div class="pull-right">
                <button class="btn btn-success">
                    <i class="fa fa-print"></i>
                </button>
                <button class="btn btn-danger" ng-click="model.action.dismiss()">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-info">
                        <div class="panel-heading">Tenant Information</div>
                        <div class="panel-body">
                            <div class="col-md-9">
                                <div class="body-content">
                                    <div class="row">
                                        <div class="col-md-2">Name:</div>
                                        <div class="col-md-10">{{model.data.name}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">Address:</div>
                                        <div class="col-md-10">{{model.data.address}}</div>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tr>
                                    <th>Villa No</th>
                                    <th>Rental Type</th>
                                    <th>Period Start</th>
                                    <th>Period End</th>
                                    <th>Amount</th>
                                    <th>Monthly Payable</th>
                                    <th>Status</th>
                                </tr>
                                <tr>
                                    <td>{{model.data.villaNo}}</td>
                                    <td>{{model.data.rentalType}}</td>
                                    <td>{{model.data.periodStart | date: "MM/dd/yyyy"}}</td>
                                    <td>{{model.data.periodEnd | date: "MM/dd/yyyy"}}</td>
                                    <td>{{model.data.amount | currency :"QR "}}</td>
                                    <td>{{model.data.ratePerMonth | currency :"QR "}}</td>
                                    <td>{{model.data.villaStatus}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-condensed">
                                <tr class="active">
                                    <th class="active" style="width:3%;">No</th>
                                    <th style="width:10%;" class="text-center">Date</th>
                                    <th style="width:10%;" class="text-center">Cheque No</th>
                                    <th style="width:15%;" class="text-center">Payment Mode</th>
                                    <th class="text-center">Covered Period</th>
                                    <th style="width:12%;text-align:center">Amount</th>
                                    <th style="width:10%;text-align:center">Status</th>
                                    <th></th>
                                </tr>
                                <tbody>
                                    <tr ng-repeat="payment in model.data.payments | orderBy : 'paymentDate':reverse track by $index"
                                        ng-class="{danger: sales.selectedRow == $index}">
                                        <td class="active text-center">{{($index+1)}}</td>
                                        <td class="text-center">{{payment.paymentDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-center">{{payment.chequeNo}}</td>
                                        <td class="text-center">{{payment.paymentModeDescription}}</td>
                                        <td class="text-left">
                                            {{payment.periodStart | date : 'MM/dd/yyyy'}} -
                                            {{payment.periodEnd | date : 'MM/dd/yyyy'}}
                                        </td>
                                        <td class="text-right">{{payment.amount | currency:"QR "}}</td>
                                        <td class="text-center">{{payment.statusDescription}}</td>
                                        <th style="width:10%;text-align:center">
                                            <button ng-hide="payment.isClear" ng-click="model.action.remove(payment)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button> &nbsp;
                                            <button ng-hide="payment.isClear" ng-click="model.action.edit(payment)" class="btn btn-danger btn-xs"><i class="fa fa-pencil"></i></button>
                                        </th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="active">
                                        <td colspan="7"></td>
                                        <td class="text-center">
                                            <button ng-hide="model.data.payment.isClear" class="btn btn-sm btn-primary" ng-click="model.action.addNewPayment()"><i class="fa fa-plus-circle"></i></button>
                                        </td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-md-2 pull-right">
                            <button class="btn btn-primary btn-block" ng-click="model.action.save()"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- status component -->
                    <div class="well">
                        <p><strong class="text-success text-center">Contract No: {{model.data.contractCode}}</strong></p>
                        <p><strong class="text-success text-center">Status: {{model.data.transactionStatusDescription}}</strong></p>
                    </div>

                    <div class="well">
                        <div class="row">
                            <div class="col-md-5">
                                <p class="text-danger text-left"><i class="fa fa-money"></i> Received:</p>
                            </div>
                            <div class="col-md-7 text-right">
                                <strong class="text-danger">{{model.data.totalReceived | currency : "QR "}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <p class="text-danger text-left"><i class="fa fa-money"></i> Clear:</p>
                            </div>
                            <div class="col-md-7 text-right">
                                <strong class="text-danger">{{model.data.totalCleared | currency : "QR "}}</strong>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-5">
                                <p class="text-danger text-left"><i class="fa fa-money"></i> Balance:</p>
                            </div>
                            <div class="col-md-7 text-right">
                                <strong class="text-danger">{{model.data.balance | currency : "QR "}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- payment details component -->
@section scripts {
    <script src="@Url.Content("~/Scripts/app/data/billing-manager.data.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/billingController.js")"></script>
}



