@{
    ViewBag.Title = "Receivable";
}
<div class="panel panel-warning" ng-controller="receivableController as $ctrl">
    <spinner></spinner>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    <div class="panel-heading">
        <h4>Payment</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text"
                                       name="villaNo" id="villaNo"
                                       class="form-control" placeholder="Search Villa No..."
                                       ng-model="$ctrl.txtSearch" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="$ctrl.search()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorState['notfoundexception']">{{errorState['notfoundexception']}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>STATUS: {{$ctrl.contract.status}}</h4>
            </div>
        </div>

        <!-- general information -->
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        Tenant Information
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">Name:</div>
                            <div class="col-md-10">{{$ctrl.contract.name}}</div>
                        </div>
                        <div class="row" ng-show="$ctrl.contract.qatarId">
                            <div class="col-md-2">Qatar Id:</div>
                            <div class="col-md-10">{{$ctrl.contract.qatarId}}</div>
                        </div>
                        <div class="row" ng-show="$ctrl.contract.crNo">
                            <div class="col-md-2">CR No:</div>
                            <div class="col-md-4">{{$ctrl.contract.crNo}}</div>
                            <div class="col-md-2">Validity Date:</div>
                            <div class="col-md-4">{{$ctrl.contract.validityDate | date : 'MM/dd/yyyy'}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Address:</div>
                            <div class="col-md-10">{{$ctrl.contract.address}}</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-condensed">
                                    <tr>
                                        <th>Villa</th>
                                        <th>Period Start</th>
                                        <th>Period End</th>
                                        <th>Amount</th>
                                    </tr>
                                    <tr>
                                        <td>{{$ctrl.contract.villa.villaNo}}</td>
                                        <td>{{$ctrl.contract.periodStart | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{$ctrl.contract.periodEnd | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{$ctrl.contract.amountPayable | currency: 'QR '}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- end general-->
        <!-- payment -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Details
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-condensed table-bordered">
                                    <tr class="active">
                                        <th style="width:10%;text-align:center">Cheque No</th>
                                        <th style="width:10%;text-align:center">Date</th>
                                        <th style="width:20%">Covered Period</th>
                                        <th style="width:10%">Amount</th>
                                        <th style="width:10%;text-align:center">Status</th>
                                        <th style="width:10%;text-align:center">Status Date</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    <tbody>
                                        <tr ng-repeat="payment in $ctrl.contract.payments" class="{{payment.status.toLowerCase()}}">
                                            <td style="width:10%;text-align:center">{{payment.chequeNo}}</td>
                                            <td style="width:10%;text-align:center">{{payment.paymentDate | date: 'MM/dd/yyyy'}}</td>
                                            <td style="width:20%">{{payment.coveredPeriodFrom | date:'MM/dd/yyyy'}} - {{payment.coveredPeriodTo | date:'MM/dd/yyyy'}}</td>
                                            <td style="width:10%;text-align:center">{{payment.amount | currency : 'QR '}}</td>
                                            <td style="width:10%;text-align:center">
                                                <p ng-hide="$ctrl.currentIndex == $index">{{payment.status}}</p>
                                                <div class="form-group" ng-show="$ctrl.currentIndex == $index">
                                                    <select ng-model="payment.statusCode" class="form-control" ng-change="$ctrl.updateStatus(payment.statusCode)">
                                                        <option ng-repeat="status in $ctrl.contract.paymentDictionary.statuses" value="{{status.value}}">{{status.text}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:10%;text-align:center">{{payment.statusDate | date : 'MM/dd/yyyy'}}</td>
                                            <td>
                                                <p ng-hide="$ctrl.currentIndex == $index">{{payment.remarks}}</p>
                                                <div class="form-group" ng-show="$ctrl.currentIndex == $index">
                                                    <textarea name="remarks" id="remarks" class="form-control" ng-model="payment.remarks"></textarea>
                                                </div>
                                            </td>
                                            <td style="width:5%;text-align:center">
                                                <button class="btn btn-default btn-sm" ng-hide="payment.readState">
                                                    <i class="fa fa-pencil" ng-click="$ctrl.toggle($index)"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <div class="row">
                                    <div class="col-md-3 pull-right">
                                        <div class="panel panel-danger">
                                            <div class="panel-body">
                                                <p class="text-danger text-right"><i class="fa fa-money"></i> Payment: {{$ctrl.contract.totalPayment | currency : "QR "}}</p>
                                                <p class="text-danger text-right"><i class="fa fa-money"></i> Balance: {{$ctrl.contract.totalBalance | currency : "QR "}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row" ng-hide="$ctrl.contract.payments == null || $ctrl.contract.totalBalance == 0">
            <div class="col-md-2 pull-right">
                <button class="btn btn-danger btn-block" ng-click="$ctrl.update()">Update</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/app/data/receivable-manager.data.js"></script>
    <script src="~/Scripts/app/controller/receivableController.js"></script>
}


