@model Sunrise.Client.Domains.ViewModels.BillingViewModel
@{
    ViewBag.Title = "Payment Clearing";
}
<div ng-controller="receivableController">
    <spinner></spinner>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h4 class="text-info"><i class="fa fa-credit-card-alt"></i> @ViewBag.Title</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pull-left">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           name="billNo" id="billNo"
                           class="form-control"
                           placeholder="Search Bill No..."
                           ng-enter="model.action.searchContract()"
                           ng-model="model.txtSearch" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="model.action.searchContract()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 pull-right">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary"><i class="fa fa-2x fa-print"></i></button>
                <button class="btn btn-sm btn-primary"><i class="fa fa-2x fa-trash-o"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin:10px 0"></div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h5 class="panel-title"><i class="fa fa-user-circle"></i>  Tenant Information</h5>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">Name:</div>
                                <div class="col-md-10">{{model.data.name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">Address:</div>
                                <div class="col-md-10">{{model.data.address}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <h5 class="panel-title"><i class="fa fa-home"></i> Villa Information</h5>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <strong class="col-md-4 text-right">Villa No:</strong>
                                <span class="col-md-6 ">{{model.data.villaNo}}</span>
                            </div>
                            <div class="row">
                                <strong class="col-md-4 text-right">Period:</strong>
                                <strong class="col-md-6 text-info">
                                    {{model.data.periodStart | date: 'MM/dd/yyyy'}} -
                                    {{model.data.periodEnd | date: 'MM/dd/yyyy'}}
                                </strong>
                            </div>
                            <div class="row">
                                <strong class="col-md-4 text-right">Amount:</strong>
                                <span class="col-md-6 ">{{model.data.amount | currency: 'QR '}}</span>
                            </div>
                            <div class="row">
                                <strong class="col-md-4 text-right">Monthly Payable:</strong>
                                <span class="col-md-6 ">{{model.data.ratePerMonth | currency: 'QR '}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <uib-tabset>
                <uib-tab tabindex="0" heading="Received Payment">
                    <!-- payment -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Cheque No</th>
                                        <th class="text-center">Bank</th>
                                        <th class="text-center">Mode</th>
                                        <th class="text-center">Amount</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Status Date</th>
                                        <th class="text-center">Remarks</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="payment in model.data.payments | orderBy : 'paymentDate':reverse track by $index">
                                        <td class="text-center">{{payment.paymentDate | date:'MM/dd/yyyy'}}</td>
                                        <td class="text-center">{{payment.chequeNo}}</td>
                                        <td class="text-center">{{payment.bankDescription}}</td>
                                        <td class="text-center">{{payment.paymentModeDescription}}</td>
                                        <td class="text-center">{{payment.amount | currency: 'QR '}}</td>
                                        <td class="text-center">
                                            <span class="label label-success">{{payment.statusDescription}}</span>
                                        </td>
                                        <td class="text-center" style="width:10%">{{payment.statusDate | date: 'MM/dd/yyyy'}}</td>
                                        <td class="text-center">{{payment.remarks}}</td>
                                        <td class="text-center">
                                            <a href="#"
                                               class="btn btn-xs btn-primary"
                                               ng-show="payment.isEditable"
                                               ng-click="model.action.editPayment(payment)"
                                               tooltip-placement="top" uib-tooltip="Edit Payment">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end payment -->
                </uib-tab>
                <uib-tab index="1" heading="Reconcile Payment">
                    <div class="body-content">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success"
                                        ng-click="model.action.addReconciledPayment()"
                                        tooltip-placement="top"
                                        uib-tooltip="Add Reconcile">
                                    Add Reconcile
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- reconcile -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Reference No</th>
                                        <th class="text-center">Payment Type</th>
                                        <th class="text-center">Bank</th>
                                        <th class="text-center">Dishonor</th>
                                        <th class="text-center">Amount</th>
                                        <th class="text-center">Period Start</th>
                                        <th class="text-center">Period End</th>
                                        <th class="text-center">Remarks</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="reconcile in model.data.reconciles">
                                        <td class="text-center">{{reconcile.date | date:'MM/dd/yyyy'}}</td>
                                        <td class="text-center">{{reconcile.referenceNo}}</td>
                                        <td class="text-center">{{reconcile.paymentTypeDescription}}</td>
                                        <td class="text-center">{{reconcile.bankDescription}}</td>
                                        <td class="text-center">{{reconcile.dishonouredAmount | currency:'QR '}}</td>
                                        <td class="text-center">{{reconcile.amount | currency:'QR '}}</td>
                                        <td class="text-center">{{reconcile.periodStart| date:'MM/dd/yyyy'}}</td>
                                        <td class="text-center">{{reconcile.periodEnd| date:'MM/dd/yyyy'}}</td>
                                        <td class="text-center">{{reconcile.remarks}}</td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-primary" ng-show="reconcile.isEditable" ng-click="model.action.editReconciledPayment(reconcile)"><i class="fa fa-edit"></i></button>&nbsp;
                                            <button class="btn btn-xs btn-danger" ng-show="reconcile.isDeletable" ng-click="model.action.removeReconciledPayment(reconcile)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end reconcile -->
                </uib-tab>
            </uib-tabset>

            <div class="row">
                <div class="col-md-4 pull-right">
                    <div class="page-header">
                        <h3 class="text-success">Total</h3>
                    </div>
                    <div class="row">
                        <p class="col-md-6">Cleared:</p><strong class="col-md-6 text-right">{{model.data.totalCleared | currency:'QR '}}</strong>
                    </div>
                    <div class="row">
                        <p class="col-md-6">Dishonored:</p><strong class="col-md-6 text-right">{{model.data.totalDishonored | currency:'QR '}}</strong>
                    </div>
                    <div class="row">
                        <p class="col-md-6">Reconciled:</p><strong class="col-md-6 text-right">{{model.data.totalReconcile | currency:'QR '}}</strong>
                    </div>
                    <hr />
                    <div class="row">
                        <p class="col-md-6">Total Balance Due:</p><strong class="col-md-6 text-right">{{model.data.balance | currency:'QR '}}</strong>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2 pull-right">
                    <button class="btn btn-danger btn-block" ng-click="model.action.update()" ng-show="model.enabledUpdate">Update</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <div class="row">
                    <strong class="col-md-3 text-success">Status:</strong>
                    <strong class="col-md-9 text-right">{{model.data.contractStatusDescription}}</strong>
                </div>
                <div class="row">
                    <strong class="col-md-3 text-success">Period:</strong>
                    <span class="col-md-9 text-right">
                            {{model.data.periodStart | date: 'MM/dd/yyyy'}} -
                            {{model.data.periodEnd | date: 'MM/dd/yyyy'}}
                    </span>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-5">
                        <p class="text-muted"><i class="fa fa-dot-circle-o"></i> Received:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <strong class="text-muted">{{model.data.totalReceived | currency : "QR "}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="text-success"><i class="fa fa-dot-circle-o"></i> Cleared:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <strong class="text-muted">{{model.data.totalCleared | currency : "QR "}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="text-muted"><i class="fa fa-dot-circle-o"></i> Bounce:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <strong class="text-danger">{{model.data.totalBounce | currency : "QR "}}</strong>
                    </div>
                </div>
                <hr />
                <!-- balance-->
                <div class="row">
                    <div class="col-md-5">
                        <p class="text-muted"><i class="fa fa-dot-circle-o"></i> Balance:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <strong class="text-info">{{model.data.balance | currency : "QR "}}</strong>
                    </div>
                </div>
                <!--end component-->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/app/data/receivable-manager.data.js"></script>
    <script src="~/Scripts/app/controller/receivableController.js"></script>
}


