@{
    ViewBag.Title = "Payment Clearing";
}
<div ng-controller="receivableController">
    <spinner></spinner>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h4>@ViewBag.Title</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pull-left">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           name="villaNo" id="villaNo"
                           class="form-control"
                           placeholder="Search Contract No..."
                           ng-model="ctrl.txtSearch" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="ctrl.action.searchContract()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <span ng-show="ctrl.errorState['notfoundexception']">{{ctrl.errorState['notfoundexception']}}</span>
            </div>
        </div>
        <div class="col-md-3 pull-right">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary"><i class="fa fa-2x fa-print"></i></button>
                <button class="btn btn-sm btn-primary" ng-click="ctrl.action.reverse()" ng-show="ctrl.showReverse"><i class="fa fa-2x fa-trash-o"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin:10px 0"></div>

    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">Tenant Information</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">Name:</div>
                        <div class="col-md-10">{{ctrl.data.name}}</div>
                    </div>
                    <div class="row" ng-show="ctrl.data.qatarId">
                        <div class="col-md-2">Qatar Id:</div>
                        <div class="col-md-10">{{ctrl.data.qatarId}}</div>
                    </div>
                    <div class="row" ng-show="ctrl.data.crNo">
                        <div class="col-md-2">CR No:</div>
                        <div class="col-md-4">{{ctrl.data.crNo}}</div>
                        <div class="col-md-2">Validity Date:</div>
                        <div class="col-md-4">{{ctrl.data.validityDate | date : 'MM/dd/yyyy'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Address:</div>
                        <div class="col-md-10">{{ctrl.data.address}}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <tr>
                                    <th>Villa</th>
                                    <th>Period Start</th>
                                    <th>Period End</th>
                                    <th>Amount</th>
                                </tr>
                                <tr>
                                    <td>{{ctrl.data.villa.villaNo}}</td>
                                    <td>{{ctrl.data.periodStart | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{ctrl.data.periodEnd | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{ctrl.data.amountPayable | currency: 'QR '}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <uib-tabset>
                <uib-tab tabindex="0" heading="Cheque Payment">
                    <!-- payment -->
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-grid="gridOptions" ui-grid-edit class="grid"></div>
                        </div>
                    </div>
                    <!-- end payment -->
                </uib-tab>
                <uib-tab index="1" heading="Reconcile Payment">
                    <div ui-grid="rpGridOptions" ui-grid-edit class="grid"></div>
                </uib-tab>
            </uib-tabset>
            <hr />
            <div class="row" ng-show="ctrl.data.updateState">
                <div class="col-md-2 pull-right">
                    <button class="btn btn-danger btn-block" ng-click="ctrl.action.updateContract()">Update</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <strong class="text-success text-center">Contract Status: {{ctrl.data.status}}</strong>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-5">
                        <p class="text-danger"><i class="fa fa-money"></i> Received:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <strong class="text-danger">{{ctrl.data.totalReceivedPayment | currency : "QR "}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="text-danger"><i class="fa fa-money"></i> Cleared:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <strong class="text-danger">{{ctrl.data.totalPayment | currency : "QR "}}</strong>
                    </div>
                </div>
                <hr />
                <!-- balance-->
                <div class="row">
                    <div class="col-md-5">
                        <p class="text-danger"><i class="fa fa-money"></i> Balance:</p>
                    </div>
                    <div class="col-md-7 text-right">
                        <strong class="text-danger">{{ctrl.data.totalBalance | currency : "QR "}}</strong>
                    </div>
                </div>
                <!--end component-->
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/app/data/receivable-manager.data.js"></script>
    <script src="~/Scripts/app/controller/receivableController.js"></script>
}


