@model Sunrise.Client.Domains.ViewModels.SalesViewModel
    

<div class="form-group">
    @Html.LabelFor(m => m.RentalType)
    @Html.DropDownListFor(m => m.RentalType, Model.RentalTypes)
</div>
<div class="form-group">
    <label class="col-md-4">Contract Status:</label>
    <div class="col-md-8"><select class="form-control"></select></div>
</div>
<div class="page-header">
    <strong>Period</strong>
</div>
<div class="form-group">
    <label class="col-md-4">Start:</label>
    <div class="col-md-8"><input type="text" class="form-control"/></div>
</div>
<div class="form-group">
    <label class="col-md-4">End:</label>
    <div class="col-md-8"><input type="text" class="form-control" /></div>
</div>