<div class="row" ng-controller="billingController as $ctrl" ng-init="$ctrl.init('@ViewBag.Id')">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">Tenant Information</div>
            <div class="panel-body">
                <div>
                    <div class="row">
                        <div class="col-md-2">Tenant Code:</div>
                        <div class="col-md-10">{{tenant.code}}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">Name:</div>
                        <div class="col-md-10">{{tenant.name}}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">Address:</div>
                        <div class="col-md-10">{{tenant.fullAddress}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Villa Sales Component-->
        <div class="panel panel-default">
            <div class="panel-heading">Selected Villa</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Villa No</th>
                        <th>Rental Type</th>
                        <th>Elec. No.</th>
                        <th>Period Start</th>
                        <th>Period End</th>
                        <th>Amount</th>
                    </tr>
                    <tr ng-repeat="sale in sales">
                        <td>{{sale.villa.villaNo}}</td>
                        <td>{{sale.rentalType}}</td>
                        <td>{{sale.villa.electricNo}}</td>
                        <td>{{sale.periodStart | date: "MM/dd/yyyy"}}</td>
                        <td>{{sale.periodEnd | date: "MM/dd/yyyy"}}</td>
                        <td>{{sale.amount | currency : symbol}}</td>
                    </tr>
                </table>

                <div>
                    <h3 class="text-warning">Total Amount: {{totalAmount}} QR</h3>
                </div>
            </div>
        </div>
        <!-- end sales component-->
    </div>
    <div class="col-md-3">
        <!-- status component -->
        <div class="panel panel-danger">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <strong class="text-danger text-center">Status: {{sales[0].status}}</strong>
            </div>
        </div>
        <!--end component-->
    </div>
</div>

<!-- payment details component -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Payment Details</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Cheque No</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Status Date</th>
                        <th>Remarks</th>
                    </tr>
                </table>
                <div class="pull-right">
                    <button class="btn btn-primary">Add Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- payment details component -->
@section scripts {
    <script src="@Url.Content("~/Scripts/app/controller/billingController.js")"></script>
}



