@{
    ViewBag.Title = "Index";
}
<div ng-controller="shopController as $ctrl" ng-init="$ctrl.init()">
    <div class="jumbotron">
        <h1>Villa</h1>
        <p class="lead">Choose Villa</p>
    </div>
    <div class="row">
        <div class="col-md-2" ng-repeat="villa in villas track by villa.id" ng-show="villas">
            <div class="nb-card">
                <div class="nb-header">
                    <span class="nb-blink">{{villa.villaStatus}}</span>
                </div>
                <div class="nb-image">
                    <div class="card__image" style="background-image:url('@Url.Content("~/Content/imgs/villa-spalletti-1.jpg")')"></div>
                </div>
                <div class="nb-footer">
                    <button class="nb-btn" ng-click="$ctrl.select(villa.id)">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/app/controller/shopController.js"></script>
}