@{
    ViewBag.Title = "Contract";
}

<form class="form-horizontal" method="post" ng-controller="contractController as $ctrl" ng-init="$ctrl.init('@ViewBag.Id')">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    <spinner></spinner>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h4>Contract Registration</h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">New Tenant</div>
                                <div class="panel-body">
                                    <!-- angular -->
                                    <div ng-include="template"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Villa No: {{sales.villa.villaNo}}</strong>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="thumbnail">
                                                <!--slider-->
                                                <slider>
                                                    <div ng-repeat="slide in nbSlides.images" class="nb-image-container slide-animation" ng-show="slide.visible">
                                                        <img src="{{slide.imageConverted}}" />
                                                    </div>
                                                    <a class="arrow prev" href="#" ng-click="nbSlides.prev()"><i class="fa fa-2x fa-chevron-left"></i></a>
                                                    <a class="arrow next" href="#" ng-click="nbSlides.next();"><i class="fa fa-2x fa-chevron-right"></i></a>
                                                    <nav class="nb-bulletin">
                                                        <ul>
                                                            <li ng-repeat="slide in nbSlides.images">
                                                                <a href="#" ng-class="{active:nbSlides.currentIndex == $index}" ng-click="nbSlides.chooseIndex($index)"></a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                    <div class="caption">
                                                        <p>Descripton: {{sales.villa.description}}</p>
                                                        <p>
                                                            <ul>
                                                                <li>Capacity: {{sales.villa.capacity}}</li>
                                                                <li>Rate per Month: {{sales.villa.ratePerMonth | currency : "QR "}}</li>
                                                                <li>Type: {{sales.villa.villaType}}</li>
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </slider>
                                                <!--end slider-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="panel panel-default">
                                <div class="panel-heading">Details</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">Rental Type:</label>
                                        <div class="col-md-8">
                                            <select ng-model="sales.rentalType" class="form-control">
                                                <option ng-repeat="type in sales.rentalTypes" value="{{type.value}}">{{type.text}}</option>
                                            </select>
                                            <span ng-show="errorState['vm.rentaltype']">{{errorState['vm.rentaltype']}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">Contract Status:</label>
                                        <div class="col-md-8">
                                            <select ng-model="sales.contractStatus" class="form-control">
                                                <option ng-repeat="status in sales.contractStatuses" value="{{status.value}}">{{status.text}}</option>
                                            </select>
                                            <span ng-show="errorState['vm.contractstatus']">{{errorState['vm.contractstatus']}}</span>
                                        </div>
                                    </div>
                                    <div class="page-header">
                                        <strong>Period</strong>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">Start:</label>
                                        <div class="col-md-8">
                                            <date-time-picker index="1" model="sales.periodStart">
                                                <span ng-show="errorState['vm.periodstart']">{{errorState['vm.periodstart']}}</span>
                                            </date-time-picker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">End:</label>
                                        <div class="col-md-8">
                                            <date-time-picker index="2" model="sales.periodEnd">
                                                <span ng-show="errorState['vm.periodend']">{{errorState['vm.periodend']}}</span>
                                            </date-time-picker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">Amount:</label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="sales.amountPayable" class="form-control" />
                                            <span ng-show="errorState['vm.amountPayable']">{{errorState['vm.amountPayable']}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-2 pull-right">
                            <button class="btn btn-primary btn-block text-left"
                                    ng-click="$ctrl.save()">
                                <i class="fa fa-save"></i> Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts
{
    <script src="~/Scripts/app/data/contract-manager.data.js"></script>
    <script src="~/Scripts/app/controller/contractController.js"></script>

}
