@{ ViewBag.Title = "Contracts"; }
<div ng-controller="contractListController as $ctrl">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h4><i class="fa fa-file"></i> @ViewBag.Title</h4>
            </div>
        </div>
        <div class="col-md-3 pull-right">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" ng-click="ctrl.action.createNewContract()">
                    <i class="fa fa-fw fa-file-image-o"></i> Add Contract
                </button>
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom:20px"></div>
        <div class="col-md-12">
            <uib-tabset class="active">
                <uib-tab index="0" heading="Pending">
                    <div ui-grid="gridOptions" class="grid"></div>
                </uib-tab>
                <uib-tab index="1" heading="Active" select="ctrl.action.onSelectActive()">
                    <div ui-grid="gridActiveOptions" class="grid"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<spinner></spinner>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/data/villa-manager.data.js")"></script>
    <script src="@Url.Content("~/Scripts/app/data/contract-manager.data.js")"></script>
    <script src="@Url.Content("~/Scripts/app/controller/contractController.js")"></script>
}