
@{ 
    ViewBag.Title = "Contract Inquiry";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h4><i class="fa fa-file"></i> @ViewBag.Title</h4>
            </div>
        </div>
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label>Start Period:</label>
                </div>
            </form>
        </div>
    </div>
</div>