<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" ng-init="$ctrl.search()">
                <div class="form-group">
                    <div class="col-md-6">
                        <search-box search-key="$ctrl.txtSearch" action="$ctrl.search()" placeholder="Search Villa..."></search-box>
                    </div>
                </div>
            </form>
        </div>
        <div class="body-content" style="height: 550px; overflow:scroll">
            <div class="row">
                <div class="col-md-2" ng-repeat="villa in $ctrl.villas | orderBy : 'villaNo'" style="margin-bottom:10px">
                    <div class="nb-card">
                        <div class="nb-image">
                            <div class="card__image">
                                <img src="{{villa.profileImage.imageConverted}}"/>
                            </div>
                            <div class="nb-title">{{villa.villaNo}}</div>
                        </div>
                        <div class="nb-detail">
                            <ul>
                                <li>Elec. No.{{villa.elecNo}}</li>
                                <li>Water No.{{villa.waterNo}}</li>
                                <li>Rate: {{villa.ratePerMonth | currency : 'QR '}}</li>
                            </ul>
                        </div>
                        <div class="nb-footer">
                            <button class="nb-btn text-success" ng-click="$ctrl.select(villa.id)" uib-tooltip="Click here to select villa {{villa.villaNo}}">{{villa.status}}</button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
