@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ooooopppsss Sorry.</h1>
<h2 class="text-danger">There's an internal error or might some invalid path Please contact your administrator.</h2>

